body {
	background-image: url("background.jpg");
	background-size: contain;
	margin: 0;
}
.outerBox {
	display: flex;
	justify-content: center;
	min-height: min(100vh,1200px);
	align-items: center;
}
h1 {
	font-family: 'Viga', sans-serif;
	display: inline;
	text-align: center;
	min-width: min(12em,100%);
}
#framedBox {
	max-width: 1000px;
	padding: 32px 42px;
	background-image: url("slate.jpg");
	background-size: contain;
	color: #ffffffd6;
	border-image-slice: 65 65 65 65;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: repeat repeat;
	border-image-source: url("border.jpg");
}
#framedBox a {
	color: #ffffffd6;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}
#text-body {
	text-align: center;
}
.iconRow {
	display: flex;
	justify-content: center;
	padding: 16px 0 8px;
}

.logoLink img {
	width: 60px;
	border-radius: 16px;
}
#navBar {
	display: flex;
	padding: 16px;
}
#navBar a {
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;
	flex-grow: 1;
	text-align: center;
}
#nameRow {
	display: flex;
}
#nameRow div:first-child {
	flex-basis: 0;
	flex-grow: 20;
	max-width: 30px;
}
#nameRow div:last-child {
	flex-basis: 0;
	flex-grow: 20;
}
#nameInner {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	min-width: min(30em, 100%);
}
